<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_HeaderCart>
            <version>1.0.0.0</version>
        </MageProfis_HeaderCart>
    </modules>
    <global>
        <helpers>
            <headercart>
                <class>MageProfis_HeaderCart_Helper</class>
            </headercart>
        </helpers>
        <models>
            <headercart>
                <class>MageProfis_HeaderCart_Model</class>
            </headercart>
        </models>
        <blocks>
            <headercart>
                <class>MageProfis_HeaderCart_Block</class>
            </headercart>
        </blocks>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <mageprofis_headercart_add_layout_updates>
                        <type>singleton</type>
                        <class>headercart/observer</class>
                        <method>addLayoutXml</method>
                    </mageprofis_headercart_add_layout_updates>
                </observers>
            </core_layout_update_updates_get_after>
        </events>
    </global>
    <frontend>
        <routers>
            <mageprofis_headercart>
                <use>standard</use>
                <args>
                    <module>MageProfis_HeaderCart</module>
                    <frontName>header-cart</frontName>
                </args>
            </mageprofis_headercart>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <headercart>
                                            <title>Header Cart</title>
                                        </headercart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
